In [4]:
import pandas as pd
from tqdm.auto import tqdm

/opt/miniconda3/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [9]:
# Input
year = 2021
month = 2

# Optimization config
chunksize = 100000

# Data Source 
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow'
url = f'{prefix}/yellow_tripdata_{year}-{month:02d}.csv.gz'
print(f"{url = }")

df_iter = pd.read_csv(url,chunksize=chunksize)

for df_chunk in tqdm(df_iter):
    display(df_chunk)

url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-02.csv.gz'

0it [00:00, ?it/s]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-02-01 00:40:47,2021-02-01 00:48:28,1,2.30,1,N,141,226,2,8.5,3.0,0.5,0.00,0.0,0.3,12.30,2.5
1,1,2021-02-01 00:07:44,2021-02-01 00:20:31,1,1.60,1,N,43,263,2,9.5,3.0,0.5,0.00,0.0,0.3,13.30,0.0
2,1,2021-02-01 00:59:36,2021-02-01 01:24:13,1,5.30,1,N,114,263,2,19.0,3.0,0.5,0.00,0.0,0.3,22.80,2.5
3,2,2021-02-01 00:03:26,2021-02-01 00:16:32,1,2.79,1,N,236,229,1,11.0,0.5,0.5,2.96,0.0,0.3,17.76,2.5
4,2,2021-02-01 00:20:20,2021-02-01 00:24:03,2,0.64,1,N,229,140,1,4.5,0.5,0.5,1.66,0.0,0.3,9.96,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2021-02-04 11:35:54,2021-02-04 11:41:49,1,1.30,1,N,233,229,1,6.5,0.0,0.5,1.96,0.0,0.3,11.76,2.5
99996,2,2021-02-04 11:00:20,2021-02-04 11:17:44,2,2.84,1,N,151,42,2,13.0,0.0,0.5,0.00,0.0,0.3,13.80,0.0
99997,2,2021-02-04 11:34:43,2021-02-04 11:37:25,2,0.49,1,N,43,238,2,4.0,0.0,0.5,0.00,0.0,0.3,4.80,0.0
99998,2,2021-02-04 11:51:07,2021-02-04 12:09:33,2,2.00,1,N,238,140,1,13.0,0.0,0.5,1.75,0.0,0.3,18.05,2.5
99999,2,2021-02-04 11:02:07,2021-02-04 11:07:09,1,0.91,1,N,170,161,1,5.5,0.0,0.5,1.76,0.0,0.3,10.56,2.5

1it [00:00,  7.12it/s]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
100000,2,2021-02-04 11:50:38,2021-02-04 12:20:57,1,11.73,1,N,138,48,1,36.0,0.0,0.5,9.08,6.12,0.3,54.50,2.5
100001,2,2021-02-04 11:18:54,2021-02-04 11:23:51,1,0.65,1,N,262,141,1,5.0,0.0,0.5,1.66,0.00,0.3,9.96,2.5
100002,2,2021-02-04 11:33:16,2021-02-04 11:48:04,1,1.67,1,N,237,170,1,10.5,0.0,0.5,2.76,0.00,0.3,16.56,2.5
100003,2,2021-02-04 11:50:29,2021-02-04 12:01:12,1,1.57,1,N,170,113,1,8.5,0.0,0.5,2.95,0.00,0.3,14.75,2.5
100004,2,2021-02-04 11:49:46,2021-02-04 12:04:34,1,1.53,1,N,141,170,1,10.5,0.0,0.5,2.07,0.00,0.3,15.87,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,1,2021-02-06 11:42:03,2021-02-06 12:08:47,1,5.10,1,N,90,166,2,20.5,2.5,0.5,0.00,0.00,0.3,23.80,2.5
199996,2,2021-02-06 11:23:45,2021-02-06 11:29:07,1,0.88,1,N,151,238,1,5.5,0.0,0.5,1.76,0.00,0.3,10.56,2.5
199997,2,2021-02-06 11:33:38,2021-02-06 11:38:54,1,0.81,1,N,239,239,1,5.5,0.0,0.5,1.76,0.00,0.3,10.56,2.5
199998,1,2021-02-06 11:43:13,2021-02-06 11:47:09,1,0.60,1,N,237,237,1,4.5,2.5,0.5,1.55,0.00,0.3,9.35,2.5
199999,1,2021-02-06 11:52:28,2021-02-06 11:59:45,1,1.80,1,N,162,234,1,8.0,2.5,0.5,2.80,0.00,0.3,14.10,2.5

2it [00:00,  8.10it/s]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
200000,2,2021-02-06 11:30:07,2021-02-06 11:34:53,1,1.05,1,N,142,237,1,5.5,0.0,0.5,0.00,0.0,0.3,8.80,2.5
200001,2,2021-02-06 11:50:10,2021-02-06 12:01:52,1,2.97,1,N,74,43,1,11.5,0.0,0.5,1.20,0.0,0.3,16.00,2.5
200002,2,2021-02-06 11:46:27,2021-02-06 11:57:23,1,1.93,1,N,143,238,2,9.0,0.0,0.5,0.00,0.0,0.3,12.30,2.5
200003,2,2021-02-06 10:59:58,2021-02-06 11:21:50,1,5.05,1,N,68,166,1,19.5,0.0,0.5,6.84,0.0,0.3,29.64,2.5
200004,2,2021-02-06 11:34:22,2021-02-06 11:48:12,1,2.62,1,N,239,41,1,11.0,0.0,0.5,4.29,0.0,0.3,18.59,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,1,2021-02-08 17:08:20,2021-02-08 17:13:01,1,0.80,1,N,170,162,2,5.5,3.5,0.5,0.00,0.0,0.3,9.80,2.5
299996,1,2021-02-08 17:47:46,2021-02-08 18:07:46,1,4.30,1,N,162,41,1,16.5,3.5,0.5,4.15,0.0,0.3,24.95,2.5
299997,2,2021-02-08 17:16:17,2021-02-08 17:41:17,1,5.54,1,N,137,166,1,20.0,1.0,0.5,4.86,0.0,0.3,29.16,2.5
299998,2,2021-02-08 17:57:34,2021-02-08 18:06:38,1,1.45,1,N,238,142,1,8.0,1.0,0.5,3.69,0.0,0.3,15.99,2.5
299999,2,2021-02-08 17:02:43,2021-02-08 17:34:37,1,5.74,1,N,238,238,1,23.0,1.0,0.5,5.46,0.0,0.3,32.76,2.5

3it [00:00,  8.45it/s]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
300000,2,2021-02-08 18:01:07,2021-02-08 18:15:03,1,2.90,1,N,43,164,1,12.0,1.0,0.5,3.26,0.0,0.3,19.56,2.5
300001,2,2021-02-08 17:07:38,2021-02-08 17:15:52,1,1.93,1,N,151,142,1,8.5,1.0,0.5,2.56,0.0,0.3,15.36,2.5
300002,2,2021-02-08 17:20:20,2021-02-08 17:27:08,1,1.11,1,N,142,161,1,6.5,1.0,0.5,2.00,0.0,0.3,12.80,2.5
300003,1,2021-02-08 17:10:15,2021-02-08 17:22:58,1,2.50,1,N,24,42,2,10.5,1.0,0.5,0.00,0.0,0.3,12.30,0.0
300004,2,2021-02-08 17:03:43,2021-02-08 17:19:57,1,3.89,1,N,186,236,1,14.5,1.0,0.5,3.76,0.0,0.3,22.56,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399995,2,2021-02-10 17:29:49,2021-02-10 17:38:37,2,1.41,1,N,161,237,1,7.5,1.0,0.5,1.06,0.0,0.3,12.86,2.5
399996,2,2021-02-10 17:44:05,2021-02-10 17:44:40,2,0.11,1,N,237,237,1,2.5,1.0,0.5,2.04,0.0,0.3,8.84,2.5
399997,2,2021-02-10 17:56:02,2021-02-10 18:07:50,2,2.03,1,N,237,262,1,9.5,1.0,0.5,4.14,0.0,0.3,17.94,2.5
399998,2,2021-02-10 17:10:42,2021-02-10 17:22:05,1,1.83,1,N,100,229,1,9.5,1.0,0.5,0.18,0.0,0.3,13.98,2.5
399999,2,2021-02-10 17:26:53,2021-02-10 17:38:15,1,1.41,1,N,233,107,1,8.5,1.0,0.5,3.20,0.0,0.3,16.00,2.5

4it [00:00,  8.69it/s]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
400000,1,2021-02-10 17:13:04,2021-02-10 17:20:37,1,1.10,1,N,75,237,1,7.0,3.5,0.5,2.25,0.0,0.3,13.55,2.5
400001,1,2021-02-10 17:21:59,2021-02-10 17:30:30,1,0.30,1,N,237,141,1,6.5,3.5,0.5,1.50,0.0,0.3,12.30,2.5
400002,2,2021-02-10 17:57:48,2021-02-10 18:07:40,1,2.39,1,N,140,75,1,9.5,1.0,0.5,4.14,0.0,0.3,17.94,2.5
400003,2,2021-02-10 17:49:44,2021-02-10 17:55:07,1,0.91,1,N,238,151,1,5.5,1.0,0.5,2.45,0.0,0.3,12.25,2.5
400004,2,2021-02-10 17:10:19,2021-02-10 17:16:02,2,1.13,1,N,13,231,1,6.0,1.0,0.5,2.58,0.0,0.3,12.88,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,1,2021-02-12 15:44:10,2021-02-12 15:54:53,1,2.40,1,N,114,161,1,10.0,2.5,0.5,2.65,0.0,0.3,15.95,2.5
499996,1,2021-02-12 15:59:43,2021-02-12 16:16:21,1,2.50,1,N,161,239,2,12.5,2.5,0.5,0.00,0.0,0.3,15.80,2.5
499997,2,2021-02-12 15:06:17,2021-02-12 15:18:18,1,2.05,1,N,161,236,1,10.5,0.0,0.5,4.14,0.0,0.3,17.94,2.5
499998,2,2021-02-12 15:29:11,2021-02-12 15:38:18,1,1.20,1,N,75,74,1,7.5,0.0,0.5,3.00,0.0,0.3,11.30,0.0
499999,1,2021-02-12 15:35:00,2021-02-12 15:48:00,1,2.20,1,N,186,50,3,10.5,2.5,0.5,0.00,0.0,0.3,13.80,2.5

5it [00:00,  8.66it/s]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
500000,1,2021-02-12 15:43:36,2021-02-12 15:46:40,1,0.40,1,N,90,68,1,4.0,2.5,0.5,1.45,0.0,0.3,8.75,2.5
500001,2,2021-02-12 15:06:07,2021-02-12 15:15:04,1,0.90,1,N,236,262,1,7.5,0.0,0.5,2.16,0.0,0.3,12.96,2.5
500002,2,2021-02-12 15:17:14,2021-02-12 15:22:39,1,0.67,1,N,262,236,1,5.5,0.0,0.5,2.20,0.0,0.3,11.00,2.5
500003,2,2021-02-12 15:42:36,2021-02-12 15:47:23,1,0.77,1,N,166,166,2,5.5,0.0,0.5,0.00,0.0,0.3,6.30,0.0
500004,2,2021-02-12 15:14:26,2021-02-12 15:24:36,1,0.74,1,N,151,24,1,8.0,0.0,0.5,1.00,0.0,0.3,9.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,1,2021-02-14 18:37:06,2021-02-14 18:54:54,1,3.60,1,N,107,236,1,15.5,2.5,0.5,3.75,0.0,0.3,22.55,2.5
599996,1,2021-02-14 18:57:02,2021-02-14 19:04:48,1,0.80,1,N,236,140,1,6.5,2.5,0.5,1.95,0.0,0.3,11.75,2.5
599997,1,2021-02-14 18:07:40,2021-02-14 18:14:57,1,0.80,1,N,68,164,1,6.5,2.5,0.5,2.45,0.0,0.3,12.25,2.5
599998,1,2021-02-14 18:17:11,2021-02-14 18:27:51,2,1.40,1,N,164,249,1,8.5,2.5,0.5,2.95,0.0,0.3,14.75,2.5
599999,1,2021-02-14 18:38:13,2021-02-14 19:10:36,1,6.70,1,N,68,74,3,26.0,2.5,0.5,0.00,0.0,0.3,29.30,2.5

6it [00:00,  8.87it/s]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
600000,2,2021-02-14 18:20:33,2021-02-14 18:23:50,2,0.90,1,N,142,43,1,5.0,0.0,0.5,1.00,0.0,0.3,9.30,2.5
600001,2,2021-02-14 18:28:06,2021-02-14 18:53:07,2,4.78,1,N,142,211,1,19.5,0.0,0.5,3.00,0.0,0.3,25.80,2.5
600002,2,2021-02-14 18:31:32,2021-02-14 18:36:30,1,2.00,1,N,79,229,1,7.5,0.0,0.5,0.00,0.0,0.3,10.80,2.5
600003,2,2021-02-14 18:42:24,2021-02-14 18:44:13,1,0.28,1,N,233,137,1,3.5,0.0,0.5,1.36,0.0,0.3,8.16,2.5
600004,2,2021-02-14 18:48:38,2021-02-14 18:50:45,2,0.59,1,N,137,170,1,4.0,0.0,0.5,1.10,0.0,0.3,8.40,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699995,2,2021-02-17 08:46:53,2021-02-17 08:53:00,1,0.94,1,N,141,237,1,6.0,0.0,0.5,1.86,0.0,0.3,11.16,2.5
699996,2,2021-02-17 08:58:15,2021-02-17 09:08:06,1,1.32,1,N,161,170,1,8.0,0.0,0.5,1.00,0.0,0.3,12.30,2.5
699997,1,2021-02-17 08:08:16,2021-02-17 08:18:46,1,2.10,1,N,264,264,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30,0.0
699998,1,2021-02-17 08:22:28,2021-02-17 08:31:33,1,1.60,1,N,264,264,2,8.0,0.0,0.5,0.00,0.0,0.3,8.80,0.0
699999,1,2021-02-17 08:50:31,2021-02-17 09:04:58,1,2.40,1,N,264,264,1,11.5,0.0,0.5,1.85,0.0,0.3,14.15,0.0

7it [00:00,  8.97it/s]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
700000,2,2021-02-17 08:41:22,2021-02-17 08:45:50,1,1.53,1,N,170,141,1,6.0,0.0,0.5,1.00,0.0,0.3,10.30,2.5
700001,1,2021-02-17 08:04:25,2021-02-17 08:13:25,1,1.40,1,N,137,186,2,8.0,2.5,0.5,0.00,0.0,0.3,11.30,2.5
700002,1,2021-02-17 08:18:24,2021-02-17 08:21:23,1,0.60,1,N,186,90,1,4.5,2.5,0.5,1.95,0.0,0.3,9.75,2.5
700003,1,2021-02-17 08:28:08,2021-02-17 08:32:02,1,0.70,1,N,170,170,1,5.0,2.5,0.5,2.45,0.0,0.3,10.75,2.5
700004,1,2021-02-17 08:34:06,2021-02-17 08:39:51,1,0.60,1,N,170,164,3,5.5,2.5,0.5,0.00,0.0,0.3,8.80,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799995,1,2021-02-19 11:47:53,2021-02-19 11:57:06,0,1.50,1,N,68,48,1,8.0,2.5,0.5,2.25,0.0,0.3,13.55,2.5
799996,2,2021-02-19 11:40:14,2021-02-19 11:48:33,1,1.32,1,N,231,113,1,7.0,0.0,0.5,3.00,0.0,0.3,13.30,2.5
799997,2,2021-02-19 11:12:41,2021-02-19 11:20:32,1,1.68,1,N,113,231,1,7.5,0.0,0.5,2.16,0.0,0.3,12.96,2.5
799998,2,2021-02-19 11:12:03,2021-02-19 11:18:29,2,1.18,1,N,142,238,1,6.5,0.0,0.5,3.20,0.0,0.3,13.00,2.5
799999,2,2021-02-19 11:46:17,2021-02-19 11:57:48,2,1.73,1,N,158,100,2,9.0,0.0,0.5,0.00,0.0,0.3,12.30,2.5

8it [00:00,  8.61it/s]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
800000,2,2021-02-19 11:14:49,2021-02-19 11:23:08,1,1.18,1,N,237,263,1,7.0,0.0,0.5,1.00,0.0,0.3,11.30,2.5
800001,2,2021-02-19 11:36:42,2021-02-19 11:42:15,1,1.03,1,N,186,230,1,6.0,0.0,0.5,0.93,0.0,0.3,10.23,2.5
800002,2,2021-02-19 11:44:20,2021-02-19 12:04:22,1,6.18,1,N,230,256,1,20.0,0.0,0.5,2.00,0.0,0.3,25.30,2.5
800003,1,2021-02-19 11:20:48,2021-02-19 11:22:28,1,0.30,1,N,141,229,1,3.5,2.5,0.5,1.35,0.0,0.3,8.15,2.5
800004,1,2021-02-19 11:35:47,2021-02-19 11:41:46,1,1.10,1,N,141,236,1,6.0,2.5,0.5,1.85,0.0,0.3,11.15,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
899995,2,2021-02-21 14:17:16,2021-02-21 14:28:43,1,2.22,1,N,43,238,1,10.5,0.0,0.5,2.00,0.0,0.3,15.80,2.5
899996,2,2021-02-21 14:42:51,2021-02-21 14:57:43,1,3.83,1,N,151,186,1,13.5,0.0,0.5,2.00,0.0,0.3,18.80,2.5
899997,2,2021-02-21 14:54:23,2021-02-21 15:01:55,1,1.72,1,N,229,262,1,7.5,0.0,0.5,1.20,0.0,0.3,12.00,2.5
899998,2,2021-02-21 14:17:57,2021-02-21 14:21:55,1,0.69,1,N,237,162,1,4.5,0.0,0.5,1.56,0.0,0.3,9.36,2.5
899999,2,2021-02-21 14:51:22,2021-02-21 14:58:12,1,0.99,1,N,90,158,1,6.0,0.0,0.5,1.86,0.0,0.3,11.16,2.5

9it [00:01,  8.77it/s]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
900000,1,2021-02-21 14:00:45,2021-02-21 14:05:14,1,0.60,1,N,234,68,1,5.0,2.5,0.5,1.00,0.0,0.3,9.30,2.5
900001,1,2021-02-21 14:31:25,2021-02-21 14:38:36,1,0.90,1,N,113,107,1,6.5,2.5,0.5,1.95,0.0,0.3,11.75,2.5
900002,1,2021-02-21 14:42:05,2021-02-21 14:50:01,1,1.50,1,Y,107,79,1,8.0,2.5,0.5,2.25,0.0,0.3,13.55,2.5
900003,2,2021-02-21 14:07:54,2021-02-21 14:18:05,2,2.29,1,N,142,236,1,10.0,0.0,0.5,2.66,0.0,0.3,15.96,2.5
900004,2,2021-02-21 14:51:42,2021-02-21 15:04:58,2,2.34,1,N,43,141,1,11.0,0.0,0.5,2.86,0.0,0.3,17.16,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2,2021-02-23 16:05:24,2021-02-23 16:11:51,1,0.93,1,N,151,239,1,6.0,1.0,0.5,1.00,0.0,0.3,11.30,2.5
999996,2,2021-02-23 16:13:37,2021-02-23 16:34:46,1,3.75,1,N,239,234,1,16.0,1.0,0.5,3.50,0.0,0.3,23.80,2.5
999997,2,2021-02-23 16:44:13,2021-02-23 16:45:54,1,0.27,1,N,114,144,1,3.0,1.0,0.5,1.46,0.0,0.3,8.76,2.5
999998,1,2021-02-23 16:09:23,2021-02-23 16:32:19,1,4.30,1,N,230,209,1,17.0,3.5,0.5,5.30,0.0,0.3,26.60,2.5
999999,1,2021-02-23 16:41:38,2021-02-23 16:56:48,1,3.30,1,N,261,170,1,12.5,3.5,0.5,0.00,0.0,0.3,16.80,2.5

10it [00:01,  8.73it/s]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
1000000,2,2021-02-23 16:01:46,2021-02-23 16:11:30,1,1.69,1,N,151,75,2,8.5,1.0,0.5,0.00,0.0,0.3,10.30,0.0
1000001,2,2021-02-23 16:16:11,2021-02-23 16:26:56,1,1.55,1,N,75,141,1,9.0,1.0,0.5,2.66,0.0,0.3,15.96,2.5
1000002,2,2021-02-23 16:34:33,2021-02-23 17:02:54,1,8.72,1,N,140,158,1,29.0,1.0,0.5,8.32,0.0,0.3,41.62,2.5
1000003,2,2021-02-23 16:12:10,2021-02-23 16:24:24,1,1.60,1,N,48,170,1,9.0,1.0,0.5,1.50,0.0,0.3,14.80,2.5
1000004,2,2021-02-23 16:31:13,2021-02-23 16:42:19,1,4.35,1,N,137,88,1,14.0,1.0,0.5,4.58,0.0,0.3,22.88,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099995,1,2021-02-25 14:05:32,2021-02-25 14:09:51,2,1.30,1,N,137,229,2,5.5,2.5,0.5,0.00,0.0,0.3,8.80,2.5
1099996,1,2021-02-25 14:36:53,2021-02-25 14:48:59,2,2.10,1,N,186,144,1,10.0,2.5,0.5,2.65,0.0,0.3,15.95,2.5
1099997,1,2021-02-25 14:58:00,2021-02-25 15:08:32,1,2.00,1,N,114,170,1,9.5,2.5,0.5,3.20,0.0,0.3,16.00,2.5
1099998,2,2021-02-25 14:52:59,2021-02-25 14:58:55,6,0.93,1,N,107,170,1,6.0,0.0,0.5,1.86,0.0,0.3,11.16,2.5
1099999,2,2021-02-25 15:01:52,2021-02-25 15:14:01,6,1.59,1,N,170,43,1,9.5,0.0,0.5,2.56,0.0,0.3,15.36,2.5

11it [00:01,  8.65it/s]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
1100000,1,2021-02-25 14:25:13,2021-02-25 14:52:56,2,10.20,1,N,138,162,2,30.5,2.5,0.5,0.00,6.12,0.3,39.92,2.5
1100001,1,2021-02-25 14:54:42,2021-02-25 15:06:45,1,1.30,1,N,141,236,1,9.0,2.5,0.5,3.05,0.00,0.3,15.35,2.5
1100002,2,2021-02-25 14:09:17,2021-02-25 14:21:52,2,1.57,1,N,238,143,1,10.0,0.0,0.5,2.66,0.00,0.3,15.96,2.5
1100003,2,2021-02-25 14:25:19,2021-02-25 14:43:10,3,2.66,1,N,143,236,1,13.0,0.0,0.5,3.26,0.00,0.3,19.56,2.5
1100004,2,2021-02-25 14:45:45,2021-02-25 15:03:33,2,2.39,1,N,236,140,1,13.0,0.0,0.5,1.75,0.00,0.3,18.05,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1199995,2,2021-02-27 10:37:33,2021-02-27 10:48:12,1,2.60,1,N,24,237,2,10.5,0.0,0.5,0.00,0.00,0.3,13.80,2.5
1199996,2,2021-02-27 10:07:09,2021-02-27 10:10:42,1,0.75,1,N,229,237,1,4.5,0.0,0.5,1.95,0.00,0.3,9.75,2.5
1199997,2,2021-02-27 10:43:53,2021-02-27 10:48:56,1,1.20,1,N,237,162,1,6.0,0.0,0.5,2.00,0.00,0.3,11.30,2.5
1199998,2,2021-02-27 10:54:32,2021-02-27 10:55:48,1,0.48,1,N,229,229,1,3.5,0.0,0.5,1.36,0.00,0.3,8.16,2.5
1199999,2,2021-02-27 10:12:04,2021-02-27 10:31:40,1,4.78,1,N,226,170,1,18.0,0.0,0.5,6.39,0.00,0.3,27.69,2.5

/opt/miniconda3/lib/python3.11/site-packages/tqdm/std.py:1181: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
1200000,2.0,2021-02-27 10:45:57,2021-02-27 10:54:10,2.0,2.44,1.0,N,237,141,1.0,9.00,0.00,0.5,1.23,0.00,0.3,13.53,2.5
1200001,1.0,2021-02-27 10:17:49,2021-02-27 10:57:27,3.0,19.60,2.0,N,132,116,2.0,52.00,0.00,0.5,0.00,6.12,0.3,58.92,0.0
1200002,2.0,2021-02-27 10:30:04,2021-02-27 10:34:54,1.0,1.29,1.0,N,231,114,2.0,6.00,0.00,0.5,0.00,0.00,0.3,9.30,2.5
1200003,2.0,2021-02-27 10:43:02,2021-02-27 10:50:03,1.0,1.80,1.0,N,90,48,1.0,8.00,0.00,0.5,2.26,0.00,0.3,13.56,2.5
1200004,2.0,2021-02-27 10:08:08,2021-02-27 10:12:13,1.0,1.01,1.0,N,140,236,1.0,5.00,0.00,0.5,1.70,0.00,0.3,10.00,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1299995,NaN,2021-02-02 15:11:00,2021-02-02 15:40:00,NaN,16.27,NaN,NaN,10,211,NaN,55.24,2.75,0.5,0.00,0.00,0.3,58.79,0.0
1299996,NaN,2021-02-02 15:46:00,2021-02-02 16:43:00,NaN,15.34,NaN,NaN,48,155,NaN,47.88,0.00,0.5,0.00,6.12,0.3,57.30,2.5
1299997,NaN,2021-02-02 15:48:36,2021-02-02 15:56:33,NaN,0.82,NaN,NaN,262,237,NaN,7.00,0.00,0.5,2.10,0.00,0.3,12.40,2.5
1299998,NaN,2021-02-02 15:32:46,2021-02-02 15:38:46,NaN,0.80,NaN,NaN,236,141,NaN,6.00,0.00,0.5,1.40,0.00,0.3,10.70,2.5
1299999,NaN,2021-02-02 15:07:36,2021-02-02 15:11:31,NaN,0.77,NaN,NaN,262,236,NaN,7.00,0.00,0.5,3.15,0.00,0.3,13.45,2.5

13it [00:01,  8.54it/s]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
1300000,NaN,2021-02-02 15:02:45,2021-02-02 16:02:03,NaN,2.18,NaN,NaN,265,189,NaN,19.20,0.00,0.5,0.00,0.00,0.3,20.00,0.0
1300001,NaN,2021-02-02 15:02:53,2021-02-02 15:02:09,NaN,1.59,NaN,NaN,265,91,NaN,19.20,0.00,0.5,0.00,0.00,0.3,20.00,0.0
1300002,NaN,2021-02-02 15:14:00,2021-02-02 15:46:00,NaN,11.19,NaN,NaN,231,194,NaN,45.18,0.00,0.5,0.00,6.12,0.3,54.60,2.5
1300003,NaN,2021-02-02 15:02:15,2021-02-02 16:02:02,NaN,4.69,NaN,NaN,265,215,NaN,25.20,0.00,0.5,0.00,0.00,0.3,26.00,0.0
1300004,NaN,2021-02-02 15:44:00,2021-02-02 15:56:00,NaN,1.63,NaN,NaN,249,144,NaN,8.70,0.00,0.5,1.00,0.00,0.3,13.00,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1371703,NaN,2021-02-12 06:53:43,2021-02-12 07:10:34,NaN,4.79,NaN,NaN,223,229,NaN,21.22,0.00,0.5,3.34,0.00,0.3,27.86,2.5
1371704,NaN,2021-02-12 06:39:00,2021-02-12 07:25:00,NaN,21.98,NaN,NaN,35,174,NaN,51.76,2.75,0.5,0.00,6.12,0.3,61.43,0.0
1371705,NaN,2021-02-12 06:10:00,2021-02-12 06:43:00,NaN,17.88,NaN,NaN,78,177,NaN,54.44,2.75,0.5,0.00,6.12,0.3,64.11,0.0
1371706,NaN,2021-02-12 06:21:14,2021-02-12 06:54:58,NaN,19.49,NaN,NaN,147,218,NaN,45.76,2.75,0.5,0.00,6.12,0.3,55.43,0.0
1371707,NaN,2021-02-12 06:43:13,2021-02-12 07:09:08,NaN,13.84,NaN,NaN,42,134,NaN,34.92,2.75,0.5,0.00,6.12,0.3,44.59,0.0

14it [00:01,  8.72it/s]

In [10]:
#!/usr/bin/env python
# coding: utf-8

import click
import pandas as pd
from sqlalchemy import create_engine
from tqdm.auto import tqdm

dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]


@click.command()
@click.option('--pg-user', default='root', help='PostgreSQL user')
@click.option('--pg-pass', default='root', help='PostgreSQL password')
@click.option('--pg-host', default='localhost', help='PostgreSQL host')
@click.option('--pg-port', default=5432, type=int, help='PostgreSQL port')
@click.option('--pg-db', default='ny_taxi', help='PostgreSQL database name')
@click.option('--year', default=2021, type=int, help='Year of the data')
@click.option('--month', default=1, type=int, help='Month of the data')
@click.option('--target-table', default='yellow_taxi_data', help='Target table name')
@click.option('--chunksize', default=100000, type=int, help='Chunk size for reading CSV')
def run(POSTGRES_USER, pg_pass, pg_host, pg_port, pg_db, year, month, target_table, chunksize):
    """Ingest NYC taxi data into PostgreSQL database."""
    prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow'
    url = f'{prefix}/yellow_tripdata_{year}-{month:02d}.csv.gz'

    engine = create_engine(f'postgresql://{POSTGRES_USER}:{pg_pass}@{pg_host}:{pg_port}/{pg_db}')

    df_iter = pd.read_csv(
        url,
        dtype=dtype,
        parse_dates=parse_dates,
        iterator=True,
        chunksize=chunksize,
    )

    first = True

    for df_chunk in tqdm(df_iter):
        if first:
            df_chunk.head(0).to_sql(
                name=target_table,
                con=engine,
                if_exists='replace'
            )
            first = False

        df_chunk.to_sql(
            name=target_table, 
            con=engine,
            if_exists='append'
        )

if __name__ == '__main__':
    run()

ModuleNotFoundError: No module named 'click'